.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1db954;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .back-to-top:hover {
    background-color: #1db954;
  }
  