<div *ngIf="isLoading" class="loading-container">
    <div class="spinner"></div>
    <p>Loading tracks, please wait...</p>
</div>

<div *ngIf="!isLoading" class="card-container">
    <div class="card" 
    (swipeleft)="handleSwipe('left')" 
    (swiperight)="handleSwipe('right')"
    [ngClass]="{ 'swipe-left': swipeDirection === 'left', 'swipe-right': swipeDirection === 'right' }"
       [ngStyle]="{ transform: 'translateX(' + currentX + 'px) rotate(' + (currentX / 10) + 'deg)' }"
       (mousedown)="onDragStart($event)" 
       (mousemove)="onDragMove($event)" 
       (mouseup)="onDragEnd($event)"
       (mouseleave)="onDragEnd($event)"
       (touchstart)="onDragStart($event)"
       (touchmove)="onDragMove($event)"
       (touchend)="onDragEnd($event)">
    <mat-card>
        <div *ngIf="!isFlipped" class="card-front">
            <div class="track-info">
                <mat-card-header>
                    <mat-card-title>{{ track.name }}</mat-card-title>
                    <mat-card-subtitle>
                        <ng-container *ngFor="let artist of track.artists; let last = last">
                            {{ artist.name }}<span *ngIf="!last">, </span>
                        </ng-container>
                    - {{ track.album.name }}
                    </mat-card-subtitle>
                </mat-card-header>
            </div> 
            <div *ngIf="isPlaying" class="timer-bar">
                <div class="timer-progress" [ngStyle]="{width: progress + '%'}"></div>
            </div>
            <img mat-card-image [src]="track.album.images[0].url" alt="{{ track.name }} image" (click)="flipCard()">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-fab class="delete-button" (click)="handleSwipe('left')">
                    <mat-icon style="color: rgb(255, 255, 255)">delete</mat-icon>
                </button>
                <button mat-button (click)="getTrackPreview(currentSong)" class="play-button" style="color: white">Play</button>
                <button mat-fab class="favorite-button" (click)="handleSwipe('right')">
                    <mat-icon style="color: rgb(255, 255, 255)">favorite</mat-icon>
                </button>
            </mat-card-actions>

        </div>
        <div *ngIf="isFlipped" class="card-back">
          <mat-card-header>
            <mat-card-title style="color: #fff;">Album Details</mat-card-title>
          </mat-card-header>
            <img mat-card-image [src]="track.album.images[0].url" alt="{{ track.name }} image" (click)="flipCard()">
          <mat-card-content style="color: #fff;">
                <p>
                    <strong>Album:</strong> {{ track.album.name }}<br>
                    <strong>Artists:</strong>
              <ng-container *ngFor="let artist of track.artists; let last = last">
                {{ artist.name }}<span *ngIf="!last">, </span>
                    </ng-container><br>
                    <strong>Release Date:</strong> {{ track.album.release_date }}<br>
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
  