<div *ngIf="isLoading" class="loading-container">
    <div class="spinner"></div>
    <p>Loading tracks, please wait...</p>
</div>

<div *ngIf="!isLoading" class="card-container">
    <mat-card>
        <div *ngIf="!isFlipped" class="card-front">
            <div class="track-info">
                <mat-card-header>
                    <mat-card-title>{{ track.name }}</mat-card-title>
                    <mat-card-subtitle>By: 
                        <ng-container *ngFor="let artist of track.artists; let last = last">
                            {{ artist.name }}<span *ngIf="!last">, </span>
                        </ng-container>
                    </mat-card-subtitle>
                </mat-card-header>
            </div>
            <img mat-card-image [src]="track.album.images[0].url" alt="{{ track.name }} image" (click)="flipCard()">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-fab aria-label="Example icon button with a delete icon" class="delete-button">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button (click)="playPreview()" class="play-button" style="color: white">Play</button>
                <button mat-fab aria-label="Example icon button with a heart icon" class="favorite-button">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-button (click)="goToNextTrack()" class="next-button" style="color: white">Next Track</button>
            </mat-card-actions>

        </div>

        <div *ngIf="isFlipped" class="card-back">
            <mat-card-header>
                <mat-card-title>Album Details</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="track.album.images[0].url" alt="{{ track.name }} image" (click)="flipCard()">
            <mat-card-content>
                <p>
                    <strong>Album:</strong> {{ track.album.name }}<br>
                    <strong>Artists:</strong>
                    <ng-container *ngFor="let artist of track.artists; let last = last">
                        {{ artist.name }}<span *ngIf="!last">, </span>
                    </ng-container><br>
                    <strong>Release Date:</strong> {{ track.album.release_date }}<br>
                </p>
            </mat-card-content>
        </div>
    </mat-card>
</div>