/* html and body take up full viewport */
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Create a blurred overlay */
.blurred-frame img {
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    filter: blur(8px);
    background-size: cover;
    z-index: 1;
}

/* Image container and centering */
.centered-content {
    margin-top: 8%;
    position: relative;
    /* Second layer of the page (on top of index 1) */
    z-index: 2;
    /* Center the content */
    text-align: center;
    display: flex;
    /* image and button group are stacked vertically */
    flex-direction: column;
    /* Center the content horizontally */
    align-items: center;
}
.centered-content img {
    width: 512px;
    height: 512px;
    border-radius: 50px;
}
/* Button grouping*/
.button-group {
    display: flex;
    margin-top: 10px;
    gap: 20px;
}