<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blurred Frame</title>
</head>
<body>
    <div class="nav-bar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="blurred-frame">
        <img src="/assets/albums/tylerthecreator.jpg" alt="blur-background">
    </div>
    <div class="centered-content" >
        <img src="/assets/albums/tylerthecreator.jpg" alt="album-cover">
        <div class="button-group">
            <app-dislike (click)="dislikeClicked()"></app-dislike>
            <app-share-button></app-share-button>
            <app-like-button></app-like-button>
            <app-playlist-button></app-playlist-button>
            <app-friend-button></app-friend-button>
        </div>
    </div>
</body>
</html>
