<mat-toolbar>
  <img src="/assets/SoundLogo.png" (click)="navigateToDashboard()" alt="App Logo" class="app-logo">
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon" aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <!-- Account Button -->
    <button mat-menu-item (click)="accountClicked()">
      <mat-icon style="color: #1db954">account_circle</mat-icon>
      <span>Account</span>
    </button>

    <!-- Friends Button -->
    <button mat-menu-item (click)="friendClicked()">
      <mat-icon style="color: #1db954">groups</mat-icon>
      <span>Friends</span>
    </button>

    <!-- Liked Songs Button -->
    <button mat-menu-item (click)="likedSongClicked()">
      <mat-icon style="color: #1db954">favorite</mat-icon>
      <span>Liked Songs</span>
    </button>

    <!-- Song History Button -->
    <button mat-menu-item (click)="historyClicked()">
      <mat-icon style="color: #1db954">history</mat-icon>
      <span>Song History</span>
    </button>

    <!-- Settings Button -->
    <button mat-menu-item (click)="logoutClicked()">
      <mat-icon style="color: #1db954">logout</mat-icon>
      <span>Log Out</span>
    </button>

    <!-- Friend Requests Menu Trigger -->
    <button mat-menu-item [matMenuTriggerFor]="friendRequestsMenu">
      <mat-icon style="color: #1db954">co_present</mat-icon>
      <span>Friend Requests</span>

      <!-- Show notification icon only if there are incoming requests -->
      <mat-icon *ngIf="fromUsers.length > 0" color="warn" style="font-size: 20px; margin-right: auto;">notifications</mat-icon>
    </button>

    <!-- Friend Requests Sub-menu -->
    <mat-menu #friendRequestsMenu="matMenu" class="expanded-menu">
      <button mat-menu-item disabled>Received Requests</button>

      <div *ngIf="fromUsers.length > 0">
        <mat-list>
          <mat-list-item *ngFor="let user of fromUsers">
            <div class="user-info">
              <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
              <span class="user-email">{{ user.email }}</span>
              
              <div class="user-actions">
                <button mat-button (click)="acceptRequest(user.uId)" class="action-button">Accept</button>
                <button mat-button (click)="removeRequest(user.uId)" class="action-button">Decline</button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-menu>
  </mat-menu>
</mat-toolbar>
