.app-logo {
    width: 96px;
    height: 64px;
    transform: translateX(-17%);
}

.spacer {
    flex-grow: 1;
}

.menu-icon {
    border: none;
    background-color: transparent;
}

.mat-toolbar {
    background-color: rgb(110, 110, 255);
}