<mat-toolbar>
  <img src="/assets/SoundLogo.png" alt="App Logo" class="app-logo">
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon" aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <!-- Account Button -->
    <button mat-menu-item (click)="accountClicked()">
      <mat-icon style="background-color: transparent; color: #1db954">account_circle</mat-icon>
      <span>Account</span>
    </button>

    <!-- Friends Button -->
    <button mat-menu-item (click)="friendClicked()">
      <mat-icon style="color: #1db954">groups</mat-icon>
      <span>Friends</span>
    </button>

    <!-- Liked Songs Button -->
    <button mat-menu-item (click)="likedSongClicked()">
      <mat-icon style="color: #1db954">favorite</mat-icon>
      <span>Liked Songs</span>
    </button>

    <!-- Song History Button -->
    <button mat-menu-item (click)="historyClicked()">
      <mat-icon style="color: #1db954">history</mat-icon>
      <span>Song History</span>
    </button>

    <!-- Settings Button -->
    <button mat-menu-item (click)="settingClicked()">
      <mat-icon style="color: #1db954">settings</mat-icon>
      <span>Settings</span>
    </button>

    <!-- Friend Requests Menu Trigger -->
    <button mat-menu-item [matMenuTriggerFor]="friendRequestsMenu">
      <mat-icon>co_present</mat-icon>
      <span>Friend Requests</span>
    </button>
  </mat-menu>

  <!-- Friend Requests Sub-menu -->
  <mat-menu #friendRequestsMenu="matMenu">
    <button mat-menu-item (click)="receivedRequestsClicked()">
      <span>Received Requests</span>
    </button>
    <button mat-menu-item (click)="sentRequestsClicked()">
      <span>Sent Requests</span>
    </button>
    <button mat-menu-item (click)="pendingRequestsClicked()">
      <span>Pending Requests</span>
    </button>
  </mat-menu>
</mat-toolbar>
