.track-list {
    width: 60%;
    margin-right: 2%;
    float: left;
}

.cards {
    width: 35%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-card {
    background-color: black;
    border-radius: 4%;
}

.spotify-icon {
    width: 24px;
    height: 24px;
}

mat-icon{
    color: black;
}

.track-card mat-card-title,
.track-card mat-card-subtitle {
  max-width: 600px;       /* Set a max width */
  white-space: normal;    /* Allow wrapping */
  overflow: hidden;       /* Hide overflow content */
  text-overflow: ellipsis;/* Optional: adds '...' if text is cut off */
  word-break: break-word; /* Breaks long words to fit the container */
  color: white;
}

.track-card {
    width: 100%; /* Take full width on small screens */
    max-width: 750px; /* Set a max width for larger screens */
}

.track-image {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
}

.track-details {
    margin-top: 10px; /* Space between image and details */
}

.play-button {
    width: 100%;
    max-height: 20px;
    margin-top: 8px;
    align-self: flex-end;
    color: #fff;
}

h2 {
    text-align: center;
    margin-top: 10px;
}