<app-back-button></app-back-button>
<div *ngIf="tracks.length > 0; else noSongs">
    <h2>Your Liked Songs</h2>
    <div class="track-list" fxLayout="row" fxLayoutWrap>
        <mat-card *ngFor="let song of tracks" class="track-card" fxFlex="25" fxFlex.xs="100">
            <mat-card-header>
                <mat-card-title>{{ song.name }}</mat-card-title>
                <mat-card-subtitle>
                    <strong>Artists:</strong> {{ getArtistNames(song.artists) }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image [src]="song.album.images[0].url" alt="{{ song.name }} image" class="track-image">
                <div class="track-details">
                    <p><strong>Album:</strong> {{ song.album.name }}</p>
                    <p><strong>Duration:</strong> {{ (song.duration_ms / 60000) | number: '1.0-0' }} minutes</p>
                    <p><a [href]="song.external_urls.spotify" target="_blank">Listen on Spotify</a></p>
                    <audio *ngIf="song.preview_url" [src]="song.preview_url" controls></audio>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #noSongs>
    <h2>You have no liked songs.</h2>
</ng-template>

<app-back-to-top></app-back-to-top>