<div class="nav-bar">
  <app-nav-bar>
  </app-nav-bar>
      <mat-toolbar>
      <app-back-button class= "back-bar"></app-back-button>
    </mat-toolbar>
</div>
<div class="account-page">
<div class="account-container">
  <h2>Account Settings</h2>
  <form [formGroup]="accountForm" (ngSubmit)="updateAccount()">
    <div>
      <label for="displayName">Display Name</label>
      <input id="displayName" formControlName="displayName" type="text" />
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
    </div>

    <div>
      <label for="password">New Password</label>
      <input id="password" formControlName="password" type="password" />
      <small>Leave blank if you don't want to change your password</small>
    </div>

    <button type="submit" [disabled]="!accountForm.valid">Update</button>
  </form>
  <div *ngIf="showSuccessMessage" class="success-message">
    Account successfully updated!
  </div>
  <button class="logout-button" (click)="logout()">Logout</button> 
</div>
</div>
